[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.31.0"
keyring = ">=24.0.0"
cryptography = ">=41.0.0"
PyJWT = ">=2.8.0"
pymongo = "*"
google-auth-oauthlib = "*"
build = "*"
twine = "*"
requests-toolbelt = "*"
idtap = {file = ".", editable = true}
pyhumps = "*"

[dev-packages]
responses = "*"
black = "*"          # Code formatting
flake8 = "*"         # Linting
mypy = "*"           # Type checking
pytest = "*"

[requires]
python_version = "3.13"

[scripts]
test = "pytest idtap/tests/"
install-dev = "pipenv install --dev"
